
body{

}

#heading{
 
    font-weight:bold;
   
position:relative;
padding-top: 3rem;
margin-left: 5rem;


}
h1{
    color:blueviolet;
    font-weight: bolder;
    position:relative;
    bottom:300px;
}
h3{
    color: seashell;
    float: inline-end;
}
h4{
    color: violet;
}
h5{
    color:darkmagenta;
    position:relative;
    bottom:200px;
}
#rating{
  background-color: thistle;
    position:relative;
    left:800px;
    top:auto;
opacity:0.6;
width: 320px;
padding: 10px;
margin: 2rem;
}
.rating1{
    background-color: thistle;
    color:blueviolet;
    position:relative;
    left:800px;
    bottom:400px;
font-family:sans-serif ;
font-weight: bold;
width: 320px;
padding: 10px;
margin: 2rem;
border-radius:4% 10%;
}
.rating2{
    background-color: thistle;
    color:blueviolet;
    position:relative;
    left:900px;
bottom:370px;
font-family:sans-serif ;
font-weight: bold;
width: 320px;
padding: 10px;
margin: 2rem; 
border-radius:4% 5%;
}
.rating3{
    background-color: thistle;
    color:blueviolet;
    position:relative;
    left:1000px;
  bottom:350px;
  font-family:sans-serif ;
  font-weight: bold;
width: 320px;
padding: 10px;
margin: 2rem;
border-radius:4% 5%;
}
.box{
    background-color: rebeccapurple;
    position: relative;
    left:100px;
bottom:300px;
    float: left;
    border-radius:4% 5%;
     width: 320px;
    padding: 10px;
    
    margin:4rem;
    
}
.box1{
    background-color: rebeccapurple;
    position: relative;
    left:15px;
 top:1000px;
    
    float: left;
    border-radius:4% 5%;
     width: 320px;
    padding: 10px;
   
    margin:4rem;;
}
    .box2{
        background-color: rebeccapurple;
        position: relative;
        left:100px;
        margin-top:1500px;
        
        padding-right: 300px;
        left:0px;
        float: left;
        border-radius:4% 5%;
        width: 320px;
        padding: 10px;
       
        margin: 0;}

#comment{
color: seashell;
    display: inline;
    clear:left;
}
.colton{
border-radius: 100%;
}
.Irene{
    border-radius: 100%;
  }
.Anne{
        border-radius: 100%;
  }
  .bottomimg{
      position:relative;
      left:1000px;
      bottom:200px;
  }
